<div class="h-100 d-flex align-items-center justify-content-center">
<h2>Crea un producto</h2>
</div>
<div class="h-100 d-flex align-items-center justify-content-center">
<form id="productsForm">
    <label>Titulo:</label>
    <input name="title">
    <label>Precio:</label>
    <input name="price">
    <label>Miniatura:</label>
    <input name="thumbnail">
    <input type="submit">
</form>
</div>


<hr>
<div id="history">Nada para mostrar</div>
<hr>
<div class="h-100 d-flex align-items-center justify-content-center">
<h2>Historial de mensajes</h2>
</div>

<div class="h-100 d-flex align-items-center justify-content-center">
<form id="chatForm">
    <input name="email">
    <div id="chatHistory">No hay mensajes para mostrar </div>
    <input name="message">
    <input type="submit">
</form>
</div>
